html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-image: url(http://fondopantalla.com.es/file/395/1400x1050/crop/fondo-de-pantalla-n%C3%BAmeros-iluminados.jpg);
    background-size: cover;
}

#answer {
    font-size: x-large;
}